<div class="mainContent">
	<div class="content">
		<article class="topContent">
			<div class="page_top">
				<div class="row" id="page-top-row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="icon">
						<div class="page-header">
							<h1>All about us</h1>
						</div>
						<div>
							<p>We are still getting set up, please come back later</p>
						</div>
					</div>
				</div>
			</div>
		</article>
	</div>
</div>
