<div class="general_page_styles">
	<div class="about_styles" id="about">
		<div class="page-header">
			<h1>All about us</h1>
		</div>
		<p>We are still getting set up, please come back later</p>
	</div><!--About styles end-->
</div><!--about class end-->