<div class="general-styles">
	<div class="about-section" id="about">
		<div class="page-header">
			<h1>All about us</h1>
		</div>
		<p>The Whiteley Collection is a bespoke card shop where each card is made to order. 

			Fun, bright letters spell out the word of your choice to make your loved one smile. 

			Each letter has been hand drawn, with an animal starting with the same letter perching on, swooping through, climbing around or sitting next to it. The cards are left blank inside so that you can write your own message.  
			
			So to make someone you love smile, simply choose their name or a short message such as 'Good Luck', 'Get Well', 'Well Done' or 'Love You' and let us do the rest!</p>
	</div><!--About section end-->
</div><!--about class end-->