<div class="general_page_styles">
	<div class="contact_us_styles">
		<div class="page-header">
			<h1>Contact Us</h1>
		</div>
		<p>You can't contact us at the moment as we are still getting set up.</p>
		<p>As soon as we are up and running we will provide contact details</p>
	</div><!--contact_us_styles end-->
</div><!--general styles end-->