<div class="general_page_styles">
	<div class="page-header">
		<h1>FAQs</h1>
	</div>
	<p>Find answers to frequently asked questions below</p>
    <div class="panel-group" id="FAQ-accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-plus"></span>
              How big are the cards?
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">
            The cards are approx. A6
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-plus"></span>
              Does the card come with an envelope?
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            Yes, it comes with a blank envelope
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-plus"></span>
              How long does it take to arrive?
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            From the point of ordering, the card should arrive with you within 3 - 5 working days
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapsefour"><span class="glyphicon glyphicon-plus"></span>
              What word/name can I have?
            </a>
          </h4>
        </div>
        <div id="collapsefour" class="panel-collapse collapse">
          <div class="panel-body">
            You can have any name you like - just write it clearly in the box provided in the 'Create a Card' section
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapsefive"><span class="glyphicon glyphicon-plus"></span>
            How many letters can I have?
            </a>
          </h4>
        </div>
        <div id="collapsefive" class="panel-collapse collapse">
          <div class="panel-body">
            You can have up to 14 letters but these would sit across two lines. The maximum number of letters per line is 7
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapsesix"><span class="glyphicon glyphicon-plus"></span>
              How much are the cards?
            </a>
          </h4>
        </div>
        <div id="collapsesix" class="panel-collapse collapse">
          <div class="panel-body">
            Please see 'Create a card' for more details 
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseseven"><span class="glyphicon glyphicon-plus"></span>
            How much is postage and packaging?
            </a>
          </h4>
        </div>
        <div id="collapseseven" class="panel-collapse collapse">
          <div class="panel-body">
            P&P is £1.00 per card to a UK address. Please contact me on xxx if you live outside the UK for P&P details
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseeight"><span class="glyphicon glyphicon-plus"></span>
            I still have a question!
            </a>
          </h4>
        </div>
        <div id="collapseeight" class="panel-collapse collapse">
          <div class="panel-body">
            If you have a question, please contact The Whiteley Collection on xxx
          </div>
        </div>
      </div>
    </div><!--panel-group end-->
</div><!--general styles end-->
