<div class="main-body">
	<!--<p>Welcome! The date and the time is <%= Time.now %></p>-->
	<div class="row" id="welcome-button-row">
		<div class="col-md-offset-4 col-md-4 col-md-12" id="icon">
			<%= image_tag("shopicon_crop.jpg", :class=> "img-class") %>
			<p class="welcome_intro_text">Personalised animal cards, designed to make loved ones smile</p>
		</div><!--image_tag col-md-4 end-->
		<div class="col-md-offset-4 col-md-4 col-sm-12">
			<a href="landing_page"<button type="button" class="btn btn-default" id="welcome-button">Welcome</button></a>
		</div><!--col-md-4 col-sm-12 end-->
	</div><!--welcome button row end-->
</div><!--main body end-->

