<div class="general_page_styles">
	<div class="landing_page_styles" id="about">
		<div class="landing-page-header">
			<h1>Check out our latest cards!</h1>
		</div>
	</div>
</div>
<div class="container-fluid carousel" id="landing_page_carousel">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">


		<%= render partial: "landing_page", locals: { products: @products } %>


	</div><!--carousel-example-generic end-->
</div><!--container fluid end-->
