<div class="container-fluid carousel" id="landing_page_carousel">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

		<%= render partial: "landing_page", locals: { products: @products } %>


	</div><!--carousel-example-generic end-->
</div><!--container fluid end-->