<div class="general_page_styles">
	<div class="panel panel-default">
		<div class="panel-body">
			<p>Thank you for contacting the Whiteley Collection. We will respond to your message as soon as possible.</p>
		</div><!--panel body end-->
	</div><!-- panel panel-default end-->
</div><!--general page styles end-->
