<div class="general_page_styles">
  <p id="notice"><%= notice %></p>

  <div class="page-header">
    <h1>Users</h1>
  </div>

  <div class="container-fluid">
    <%= render partial: "users", locals: {users: @users} %>
  </div><!--container fluid end-->

  <br>

  <div class="new-user-container">
    <%= link_to 'New User', new_user_path %>
  </div>
</div><!--general page styles end-->
