<div class="general_page_styles">
	<div class="panel panel-default">
		<div class="panel-body">
			<p>Thank you for purchasing a card from the Whiteley Collection. We will start crafting your card straight away!</p>
		</div><!--panel body end-->
	</div><!-- panel panel-default end-->
</div><!--general page styles end-->