// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products-page h4 {
	font-size: 1.25em;
	font-weight: 700;
}

.products-page p {
	font-size: 1em;
}

.container-fluid {
	padding: 2%;
}

.container-fluid .row {
	padding: 2%;

}

.product-container  {
	background-color: #EDF6FF;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 10%;
	padding-bottom: 10%;
	height: 500px;
	margin-bottom: 8%;
}

.new-product-container {
	background-color: #EDF6FF;
	padding-left: 45%;
	padding-right: 45%;
	padding-top: 1.5%;
	padding-bottom: 0%;
	height: 50px;
}

.new-product-container a:visited {
	color: #000;
	text-decoration: none;
	background-color: #EDF6FF;
}

