body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

#products-table {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

#products-table .table-header {
  background-color: #000;
  opacity: 0.3;
  color: #FFF;
}

#products-table tr {

}

#products-table th {
  vertical-align: middle;
  padding-top: 2%;
  padding-bottom: 2%;
}

#products-table .name-column {
  width: 10%;
}

#products-table .description-column {
  width: 45%;
}

#products-table .image-column {
  width: 30%;
}

#products-table .price-column {
  width: 20%;
}

.product-image {
  height: 200px;
  width: 250px;
  margin-left: 13%;
  margin-right: 13%;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}
