// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h2 {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
	font-size: 24px;
	font-style: italic;
	font-weight: 100;
	line-height: 30px;
}
p {
	font-family: verdana, sans-serif;
	font-size: 15px;
}
.main-body {
	margin-top: 7%;
	margin-left: 1%;
}
.image_tag {
	float: right;

}