// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#page-top-row.row {
	margin-left: 0;
	margin-right: 0;
	height: 0;
}

.topContent {
	height: 621.76px;
}

#contact_us,#faq.topContent {
	height: 650px;
}

#unlock,#forgotten_password,#login_out.topContent {
	padding-top: 5%;
	height: 650px;
}

#users.topContent {
	height: 1200px;
}

#products.topContent {
	height: 1000px;
}

#landing_page.topContent {
	height: 1000px
}

h1 {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
	font-size: 50px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	padding-bottom: 3%;
	padding-top: 3%;
	padding-left: 1%;
}
h2 {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
	font-size: 24px;
	font-style: italic;
	font-weight: 100;
	line-height: 30px;
}
p {
	font-family: verdana, sans-serif;
	font-size: 15px;
}
.main-body {
	margin-top: 0%;
	margin-left: 1%;
	margin-bottom: 5%
}
.img-class {
	margin-top: 50%;
	margin-bottom: 10%;
}
.company_logo_img {
	text-align: center;
}
.carousel-caption {
	width: 650px;
	color: #FFF;
	font-size: 3em;
	line-height: 1em;
	bottom: 85%;
}
#carousel-caption-1 {
	color: #000;
}
#landing_page_carousel {
	padding-top: 0%;
	padding-bottom: 0%;
	margin-bottom: 5%;
	margin-top: 2.5%;
	margin-left: 5%;
	margin-right: 5%;
}
.carousel-inner>.item>img {
	height: 600px;
	padding-left: 3.53%;
}
a.carousel-control:hover {
	background-color: #FFF;
}
.container-fluid {
	padding-right: 0;
	padding-left: 0;
	margin-right: 0;
	margin-left: 0;
}
.carousel_images {
	text-align: center;
}
#carousel-image img {
	width: 100%;
}
.page_top {
	margin-top: 0%;
}
#welcome-button {
	width: 327px;
	height: 50px;
	padding-top: 12px; /*other padding is from bootstrap css*/
}
.col-lg-offset-4 {
	text-align: center;
}
.welcome_intro_text {
	text-align: center;
	font-family: Optima, calibri, arial, sans-serif;
	font-size: 1.25em;
}
#welcome_intro {
	padding-bottom: 0%;
}
#icon {
	padding-bottom: 0%;
}
#welcome-button {
	font-family: Optima, calibri, arial, sans-serif;
	font-size: 1.25em;
	background-color: #ededed;
	color: #000;
}
.rest_of_landing_page {
	height: 200px;
}
.landing-page-header {
	width: 100%;
	height: 100px;
	opacity: 0.6;
	padding-left: 2%;
	color: #75a8b4;
	border: 0;
}
.welcome_page {
	height: 400px;
	width: 100%;
	background-color: #75a8b4;
	margin-top: 5%;
}
.welcome_section {
	padding-top: 5%;
	padding-left: 2%;
	padding-right: 2%;
	line-height: 2em;
}
.welcome_text {
	font-family: optima, calibri, arial, sans-serif;
	font-size: 2em;
	text-align: center;
}
.welcome_text_p {
	font-family: optima, calibri, arial, sans-serif;
	font-size: 1.15em;
	color: #FFF;
	line-height: 2em;
	text-align: center;
	padding-bottom: 3%;
	padding-top: 2%;
}
.contact_us_styles {
	margin-bottom: 35%;
}
#contact_submit_btn {
	width: 80%;
	margin: 0 auto;
}
#contact_form {
	width: 80%;
	height: 50px;
	margin: 0 auto;
}
.about_styles {
	margin-bottom: 35%;
	margin-top: 0;
}

.about_styles h1 {
	margin-top: 0;
}
.panel-default>.panel-heading:hover {
	background-color: #75a8b4;
	color: #FFF;
	-webkit-transition: color 300ms;
	text-decoration: none;
}
.panel-group a {
	outline: 0;
	text-decoration: none;
}
#thank_you_message.panel {
	margin-top: 2%;
}

a:hover {
	background: none;
}

/*Media Queries*/
@media screen and (min-width: 1024px) {
	.topContent {
	height: 521.76px;

}
}

@media screen and (min-width: 1800px) {
	.welcome_page {
		height: 500px;
	}
}

@media only screen and (min-width: 320px) and (max-width: 1199px) {
	.img-class {
	margin-top: 20%;
	}
	#landing_page.topContent {
	height: 900px
	}
}

@media only screen and (min-width: 768px) and (max-width: 998px) {
	#contact_us.topContent {
		height: 700px;
	}
	#products.topContent {
		height: 1800px;
	}
}

@media only screen and (min-width: 320px) and (max-width: 990px) {
	.welcome_page {
	height: 400px;
	}
	#landing_page.topContent {
	height: 700px
	}
}

@media only screen and (min-width: 415px) and (max-width: 767px) {
	#products.topContent {
		height: 3000px;
	}
	.page-header h1 {
		line-height: 1.25em;
	}
}

@media only screen and (min-width: 504px) and (max-width: 606px) {
	.img-class {
	margin-top: 25%;
}
	.welcome_page {
	height: 450px;
}
}

@media only screen and (min-width: 414px) and (max-width: 503px) {
	.img-class {
	margin-top: 30%;
}
	.topContent {
	height: 520px;
}
	.welcome_page {
	height: 520px;
}
}

@media only screen and (min-width: 320px) and (max-width: 414px) {
	.img-class {
	margin-top: 30%;
}
	.topContent {
		height: 521.76px;
	}
	.welcome_page {
	height: 550px;
}
	#contact_form {
		width: 100%;
	}
	#contact_submit_btn {
		width: 100%;
	}
	#products.topContent {
		height: 2100px;
	}
	#users.topContent {
	height: 800px;
	}
	#landing_page.topContent {
	height: 500px
	}
	.page-header h1 {
		font-size: 2em;
	}
}

@media only screen and (min-width: 360px) and (max-width: 375px) {
	.img-class {
	max-width: 300px;
}
	#welcome-button {
	width: 300px;
	}
}


@media only screen and (min-width: 320px) and (max-width: 359px) {
	.img-class {
	max-width: 260px;
}
	#welcome-button {
	width: 260px;
	}
}

@media only screen and (min-width: 320px) and (max-width: 320px) {
	.img-class {
	margin-top: 30%;
}
	.topContent {
		height: 421.76px;
	}
	.welcome_page {
	height: 620px;
}
}
