// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_table {
	width: 100%;
	line-height: 2em;
}
tr {
	border-bottom: solid 1px black ;
}
.users_table td {
	padding-bottom: 10%;
	max-width: 150px;
}
.new-user-container {
	background-color: #75a8b4;
	padding-left: 40%;
	margin-left: 5%;
	padding-right: 40%;
	margin-right: 5%;
	padding-top: 1.5%;
	padding-bottom: 0%;
	height: 50px;
}
.new-user-button .btn {
	background-color: #75a8b4;
	width: 60%;
	margin: 0 auto;
	height: 50px;
	margin-bottom: 15px;
}
.new-user-button a {
	color: #000;
}
.new-user-button a:hover {
	text-decoration: none;
}
.new-user-button .btn:hover {
	background-color: #ededed;
}

@media only screen and (min-width: 320px) and (max-width: 320px) {
	td {
	font-size: 10px;
}
}
