<div class-"reviews">
	<% if signed_in? %>
	  <h4>Leave a review:</h4>
	  <%= form_for([@product, @product.comments.build]) do |f| %>
	    <p>
	      <%= f.text_area :body, class:"form-control", id:"comment_area", placeholder:"Write a comment here"%>
	    </p>
	    <p>
	      <div class="rating" id="star_rating_bar"></div>
	    </p>  
	    <p>
	      <%= f.submit "Submit", class:"btn btn-default", id:"review_button" %>
	    </p>
	  <% end %>
	<% end %>
</div><!-- review end -->