<div class="main-body-div">
	<div class="edit_show_new_products">
		<h1>Editing Product</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @product %> |
		<%= link_to 'Back', products_path %>
	</div><!--edit_products end-->
</div><!--main-body end-->