<div class="mainContent">
  <div class="content">
    <article class="topContent" id="products">
      <div class="page_top">
        <div class="row" id="page-top-row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="icon">
            <p id="notice"><%= notice %></p>
            <div class="page-header">
              <h1>Create a card</h1>
            </div>
            <div class="container-fluid" id="products">
              <div class="row">

                <%= render partial: "product", collection: @products %> 

                <!--this is a 'partial' its used to tidy up the code to consolidate long bits of code into smaller pieces and avoid having to retype code. See views/products/_product.html.erb for the full code this partial is rendering. Because @products is a an array of objects of the same model (called a collection in Rails terminology), instead of typing
                
                   @products.each do |product| 
                    = render product 
                  end

                we can condense this entire block into just one line, where we pass the array directly into the partial using the collection option (see above)

                When the objects of the collection match the name of the partial (in this case product) the code can be shortened further to = render @products --> 
              </div><!--row end-->
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <%= link_to 'New Product', new_product_path, :type => 'button', :class => 'btn btn-lg btn-primary btn-block' %>
                  </div><!--new product container end-->
                </div><!--col-md-4 end-->
              </div><!--row end-->
           </div><!--container-fluid end-->  
          </div>
        </div>
      </div>
    </article>        
  </div>
</div>
